<!-- <h1>This is the parent component !</h1>
<h2>It wants to say "Hello" to its child.</h2>
It also wants to receive a response from its child.
<p>
  <b>Response from child : "{{ receivedChildMessage }}"</b>
</p>
<button (click)="sendToChild('Hello Child !')">Send to Child</button> -->

<!-- this segment want for view messgae from child to parent -->

<!--<app-child [receivedParentMessage]="messageToSendP" (messageToEmit)="getMessage($event)"></app-child>-->

<h1>Parent Component</h1>
{{sureshAppParent}}
